<!--<en-api-object path="/api/v1/security/dataDomainPolicy/{{$root.user.dataDomainPolicy.refName}}"-->
<!--on-before-get="policy.path='/api/v1/security/dataDomainPolicy/' + $root.user.dataDomainPolicy.refName + '?dataDomain=' + $root.user.dataDomainPolicy.dataDomain"-->
<!--on-get="selectedContext.get(); getContext()"-->
<!--trigger="false"-->
<!--name="policy"-->
<!--method="get"></en-api-object>-->

<en-api-object path="/api/v1/security/dataDomainContext/setContext/"
               on-before-post="context.data = {}; context.path = '/api/v1/security/dataDomainContext/setContext/' + $root.selectedContext.data"
               on-post="$root.$state.reload()"
               name="context"
               method="post"></en-api-object>

<!--<en-api-object path="/api/v1/security/dataDomainContext/getCurrentContext"-->
<!--trigger="false"-->
<!--config="{'showGrowl404':false}"-->
<!--on-get="selectedContext.data? $root.selectedContext = selectedContext.data : $root.selectedContext = policy.data.dataDomainContexts[0]"-->
<!--on-error="$root.selectedContext.data = policy.data.dataDomainContexts[0].refName; context.post()"-->
<!--name="selectedContext"-->
<!--method="get"></en-api-object>-->

<en-header ng-show="authorized" layout="column" class="has-icon-navbar header-icon-navbar-active">
    <div layout="row" flex>
        <style>
            .header-default-store {
                padding: .9rem 0 0 1.5rem;
            }
            .header-default-store label {
                font-size: 1.2rem;
                color: #b3b3b3;
                margin-bottom: 0rem;
            }
            .header-default-store div {
                font-size: 1.4rem;
                color: #fff;
            }
        </style>

        <en-logo src="assets/logos/logo-white.png" en-tap="showScreen(homePageUrl)">
            <img class="en-logo-img" ng-src="assets/images/logos/logo.png?{{$root.authUser.data.id}}">
        </en-logo>

        <div class="header-default-store" layout="column"
             ng-if="policy.data">
            No Policy.data
        </div>

        <div class="header-default-store" layout="column"
             ng-if="$hasPermission('DataDomainPolicy:View')  && ($root.policy && $root.policy.dataDomainContexts.length) ">
            <label class="captilized">Context:</label>
            <div layout="row"
                 en-popover
                 data-auto-close="true"
                 popover-animation="am-fade"
                 popover-html="true"
                 popover-trigger="click"
                 popover-inline-template="true"
                 popover-content-template="context-template.html">
                <b>{{!$root.selectedContext.data || $root.selectedContext.data ==='CLEAR'? 'NONE' : $root.selectedContext.data}} &nbsp;</b>
                <en-icon icon="caret-down"></en-icon>
            </div>
        </div>
        <script type="text/ng-template" id="context-template.html">
            <ul layout="column">
                <!--<input type="text"-->
                <!--ng-model="$root.selectedContext.data"-->
                <!--placeholder="Context"-->
                <!--en-autocomplete-->
                <!--autocomplete-searchable-fields="displayName,refName,contextDefaultDataDomain"-->
                <!--autocomplete-query-filters="displayName,refName,contextDefaultDataDomain"-->
                <!--autocomplete-search-text="searchText"-->
                <!--autocomplete-items="item in $root.policy.dataDomainContexts"-->
                <!--autocomplete-item-text="item.displayName"-->
                <!--autocomplete-template=""-->
                <!--autocomplete-on-select="$root.selectedContext.data = item.contextDefaultDataDomain; $root.context.post();"-->
                <!--autocomplete-min-length="1"/>-->
                <!--</en-input>-->
                <!--<en-autocomplete md-selected-item="$root.selectedContext.data" md-search-text="searchText" md-items="item in getMatches(searchText)" md-item-text="item.display">-->
                <!--<span md-highlight-text="searchText">{{item.display}}</span>-->
                <!--</en-autocomplete>-->
                <li ng-repeat="cxt in $root.policy.dataDomainContexts track by cxt.refName" layout>
                    <en-button clss="is-clickable"
                               en-tap="$root.selectedContext.data = cxt.contextDefaultDataDomain; $root.context.post(); $hide() "
                               flex="100">{{cxt.displayName}}</en-button>
                </li>
                <li layout>
                    <en-button clss="is-clickable"
                               en-tap="$root.selectedContext.data = 'CLEAR'; $root.context.post(); $hide()"
                               flex="100">None</en-button>
                </li>
            </ul>
        </script>
        <en-flex></en-flex>
        <div class="header-icon-bar" layout="row">
            <!--<select ng-if="$root.$hasPermission('DataDomainPolicy:View')  && (policy.data && policy.data.dataDomainContexts.length > 1) "-->
            <!--ng-change="context.post();"-->
            <!--ng-model="$root.selectedContext.data"-->
            <!--ng-options="context.contextDefaultDataDomain as context.displayName for context in policy.data.dataDomainContexts track by context.refName">-->
            <!--<option value="">Select Context</option>-->
            <!--</select>-->
            <div en-tap="showScreen('adminIndex')" ng-if="$hasPermission('Dashboard:ViewAdminIndex')">
                <en-icon icon="service"></en-icon>
            </div>
            <div en-tap="showScreen(homePageUrl)">
                <en-icon icon="home"></en-icon>
            </div>
            <div en-tap="showScreen('tasks/')"
                 ng-if="$hasPermission('Task:UI-View')">
                <en-icon icon="clock"></en-icon>
            </div>
            <div en-tap="showScreen('tasks/notifications/')"
                 ng-controller="NotificationsCtrl"
                 ng-if="$hasPermission('Notification:UI-View')">
                <en-icon icon="info"></en-icon>
                <span class="en-label label-success label-detail label-round"
                      ng-show="$root.notificationCount > 0">{{$root.notificationCount}}</span>
            </div>
            <div en-tap="showScreen('data-management/communications/mailboxes/')"
                 ng-if="$hasPermission('MailboxEntry:UI-View')">
                <en-icon icon="mail"></en-icon>
            </div>
            <div en-tap="showScreen('data-management/communications/files/')"
                 ng-if="$hasPermission('FileSystemEntry:UI-View')">
                <en-icon icon="folder-open"></en-icon>
            </div>
            <div ng-style="$root.whoAmIStyle"
                 ng-if="$hasPermission('RunAs:UI-View') || $root.whoAmI.PreviousPrinciple"
                 en-popover
                 popover-auto-close="true"
                 popover-animation="am-flip-x"
                 popover-html="true"
                 popover-content="-empty-"
                 popover-template="runAs"
                 popover-viewport="{'selector': 'en-win', 'padding': 24 }"
                 popover-placement="bottom">
                <en-icon icon="employee-plus"></en-icon>
            </div>
        </div>
        <div class="user-menu"
             en-popover
             popover-html="true"
             popover-auto-close="true"
             popover-placement="auto"
             popover-title=""
             popover-viewport="{'selector': 'en-win', 'padding': 24 }"
             popover-inline-template="true"
             popover-content="<ul><!--<li><a href='#/'><en-icon icon='man' class='xs'></en-icon> My Account</a></li>--><li><a href='#/' en-tap='logout.get()'><en-icon icon='arrow-left' class='xs'></en-icon> Log out</a></li></ul>"
             popover-custom-class="popover-dark">
            <img class="round bg-accent"
                 en-src="assets/images/default-user.png">

            <div class="user-menu-name" layout="column">
                <span style="color:#fff;max-width:14rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{(authUser.data.profile.firstName || authUser.data.firstName) + ' ' + (authUser.data.profile.lastName || authUser.data.lastName)}}</span>
                <small
                    style="max-width:14rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color:#fefefe">{{(authUser.data.userIdPasswordToken.userId || authUser.data.emailAddress)}}</small>
            </div>
            <en-icon icon="caret-down"></en-icon>
        </div>

        <script type="text/ng-template" id="runAs">
            <div class="popover" style="margin-top: 0;padding:0;color: #8A8A8A; width:35rem; background-color: #FFF !important;" tabindex="-1" ng-show="content">
                <div class="arrow"></div>
                <h3 class="popover-title">Run as User</h3>
                <div class="popover-content">
                    <en-error id="runAsErrors" object="$root.runAs"></en-error>
                    <en-error id="runAsReleaseErrors" object="$root.releaseRunAs"></en-error>
                    <div ng-if="!$root.whoAmI.PreviousPrinciple">
                        <form name="runAsForm" ng-submit="runAsForm.$valid && $root.runAs.get().then($hide)">
                            <en-control class="text-left">
                                <en-field>
                                    <input type="text" name="runAsUser" ng-model="$root.runAsUser" placeholder="Enter Username" ng-required="true" ng-disabled="$root.runAs.loading">
                                    <en-button type="submit" ng-class="{'button-error':(runAsForm.runAsUser.$invalid && runAsForm.runAsUser.$dirty)}" ng-disabled="$root.runAs.loading">GO</en-button>
                                </en-field>
                            </en-control>
                            <div style="margin: 10px 0 5px;">This will allow you to run as a different user.</div>
                        </form>
                    </div>
                    <div ng-if="$root.whoAmI.PreviousPrinciple">
                        <div style="margin-bottom:10px;">You are currently running as another user.</div>
                        <en-button en-tap="$root.releaseRunAs.get(); showScreen(homePageUrl)" ng-disabled="$root.releaseRunAs.getting">Release User</en-button>
                    </div>
                </div>
            </div>
        </script>
    </div>
    <div class="header-icon-navbar" layout="row">
        <!-- && !headerIconNavbarActive -->
        <div ng-class="{'active':$stateParams.screen === 'call-center'}"
             en-tap="showScreen('/call-center/')"
             ng-if="$root.$hasPermission('Dashboard:ViewCallCenterTile')">
            <en-icon icon="{{::'OMS.MENU.CALL_CENTER.ICON' | translate}}"></en-icon>
            <en-title>{{::'OMS.MENU.CALL_CENTER.LABEL' | translate}}</en-title>
        </div>
        <div ng-class="{'active':$stateParams.screen==='inventory'}"
             en-tap="showScreen('/inventory/')"
             ng-if="$root.$hasPermission('Dashboard:ViewInventoryTile')">
            <en-icon icon="{{::'OMS.MENU.INVENTORY.ICON' | translate}}"></en-icon>
            <en-title>{{::'OMS.MENU.INVENTORY.LABEL' | translate}}</en-title>
        </div>
        <div ng-class="{'active':$stateParams.screen==='orders'||$stateParams.third==='sales-orders'}"
             en-tap="showScreen('/orders/')"
             ng-if="$root.$hasPermission('Dashboard:ViewOrdersTile')">
            <en-icon icon="{{::'OMS.MENU.ORDERS.ICON' | translate}}"></en-icon>
            <en-title>{{::'OMS.MENU.ORDERS.LABEL' | translate}}</en-title>
        </div>
        <div ng-class="{'active':$stateParams.screen==='fulfillment'||$stateParams.third==='shipment-requests'}"
             en-tap="showScreen('/fulfillment/')"
             ng-if="$root.$hasPermission('Dashboard:ViewFulfillmentTile')">
            <en-icon icon="{{::'OMS.MENU.FULFILLMENT.ICON' | translate}}"></en-icon>
            <en-title>{{::'OMS.MENU.FULFILLMENT.LABEL' | translate}}</en-title>
        </div>
        <div ng-class="{'active':$stateParams.screen==='trading-partners'}"
             en-tap="showScreen('/trading-partners/')"
             ng-if="$root.$hasPermission('Dashboard:ViewTradingPartnersTile')">
            <en-icon icon="{{::'OMS.MENU.TRADING_PARTNERS.ICON' | translate}}"></en-icon>
            <en-title>{{::'OMS.MENU.TRADING_PARTNERS.LABEL' | translate}}</en-title>
        </div>
        <div ng-class="{'active':$stateParams.screen==='sites'}"
             en-tap="showScreen('/sites/')"
             ng-if="$root.$hasPermission('Dashboard:ViewSitesTile')">
            <en-icon icon="{{::'OMS.MENU.SITES.ICON' | translate}}"></en-icon>
            <en-title>{{::'OMS.MENU.SITES.LABEL' | translate}}</en-title>
        </div>
        <div ng-class="{'active':$stateParams.screen==='data-management'}"
             en-tap="showScreen('/data-management/')"
             ng-if="$root.$hasPermission('Dashboard:ViewDataManagementTile')">
            <en-icon icon="{{::'OMS.MENU.DATA_MANAGEMENT.ICON' | translate}}"></en-icon>
            <en-title>{{::'OMS.MENU.DATA_MANAGEMENT.LABEL' | translate}}</en-title>
        </div>
        <div ng-class="{'active':$stateParams.screen==='integration'||$stateParams.third==='integration'}"
             en-tap="showScreen('/integration/')"
             ng-if="$root.$hasPermission('Dashboard:ViewIntegrationTile')">
            <en-icon icon="{{::'OMS.MENU.INTEGRATION.ICON' | translate}}"></en-icon>
            <en-title>{{::'OMS.MENU.INTEGRATION.LABEL' | translate}}</en-title>
        </div>
        <div ng-class="{'active':$stateParams.screen==='tasks'}"
             en-tap="showScreen('/tasks/')"
             ng-if="$root.$hasPermission('Dashboard:ViewTasksTile')">
            <en-icon icon="{{::'OMS.MENU.TASKS.ICON' | translate}}"></en-icon>
            <en-title>{{::'OMS.MENU.TASKS.LABEL' | translate}}</en-title>
        </div>
        <div ng-class="{'active':$stateParams.screen==='reports'}"
             en-tap="showScreen('/reports/reports/')"
             ng-if="$root.$hasPermission('Dashboard:ViewReportsTile')">
            <en-icon icon="{{::'OMS.MENU.REPORTING.ICON' | translate}}"></en-icon>
            <en-title>{{::'OMS.MENU.REPORTING.LABEL' | translate}}</en-title>
        </div>
        <div ng-class="{'active':$stateParams.screen==='settings'||$stateParams.second==='settings'}"
             en-tap="showScreen('/settings/')"
             ng-if="$root.$hasPermission('Dashboard:ViewSettingsTile')">
            <en-icon icon="{{::'OMS.MENU.SETTINGS.ICON' | translate}}"></en-icon>
            <en-title>{{::'OMS.MENU.SETTINGS.LABEL' | translate}}</en-title>
        </div>
        <div ng-class="{'active':$stateParams.screen==='development'||$stateParams.second==='development'}"
             en-tap="showScreen('/development/')"
             ng-if="$root.$hasPermission('Dashboard:ViewDevelopmentTile')">
            <en-icon icon="{{::'OMS.MENU.DEVELOPMENT.ICON' | translate}}"></en-icon>
            <en-title>{{::'OMS.MENU.DEVELOPMENT.LABEL' | translate}}</en-title>
        </div>
        <div ng-class="{'active':$stateParams.screen==='apps'||$stateParams.second==='apps'}"
             en-tap="showScreen('/apps/')"
             ng-if="$root.$hasPermission('Dashboard:ViewAppsTile')"
             has-permission="Dashboard:ViewAppsTile">
            <en-icon icon="{{::'OMS.MENU.APPS.ICON' | translate}}"></en-icon>
            <en-title>{{::'OMS.MENU.APPS.LABEL' | translate}}</en-title>
        </div>
    </div>
    <en-include src="main-menu-items"></en-include>
</en-header>
