
<en-menu>
    <!--<en-menu-item name="Inventory"         location="inventory/"                    ng-hide="true" en-hotkey="alt+v"  ng-if="$hasPermission('Dashboard:ViewInventoryTile')"></en-menu-item>-->
    <!--<en-menu-item name="Orders"            location="orders/"                       ng-hide="true" en-hotkey="alt+o"  ng-if="$hasPermission('Dashboard:ViewOrdersTile')"></en-menu-item>-->
    <!--<en-menu-item name="Fulfillment"       location="fulfillment/"                  ng-hide="true" en-hotkey="alt+f"  ng-if="$hasPermission('Dashboard:ViewFulfillmentTile')"></en-menu-item>-->
    <!--<en-menu-item name="Trading Partners"  location="trading-partners/"             ng-hide="true" en-hotkey="alt+t"  ng-if="$hasPermission('Dashboard:ViewTradingPartnersTile')"></en-menu-item>-->
    <!--<en-menu-item name="Sites"             location="sites/"                        ng-hide="true" en-hotkey="alt+l"  ng-if="$hasPermission('Dashboard:ViewSitesTile')"></en-menu-item>-->
    <!--<en-menu-item name="Integration"       location="integration/"                  ng-hide="true" en-hotkey="alt+i"  ng-if="$hasPermission('Dashboard:ViewIntegrationTile')"></en-menu-item>-->
    <!--<en-menu-item name="Settings"          location="settings/company/information/" ng-hide="true" en-hotkey="alt+g"  ng-if="$hasPermission('Dashboard:ViewSettingsTile')"></en-menu-item>-->
    <!--<en-menu-item name="Development"       location="development/"                  ng-hide="true" en-hotkey="alt+d"  ng-if="$hasPermission('Dashboard:ViewDevelopmentTile')"></en-menu-item>-->
    <!--<en-menu-item name="Reporting"         location="reports/reports/"              ng-hide="true" en-hotkey="alt+r"  ng-if="$hasPermission('Dashboard:ViewReportsTile')"></en-menu-item>-->
    <!--<en-menu-item name="Apps"              location="apps/"                         ng-hide="true" en-hotkey="alt+a"  ng-if="$hasPermission('Dashboard:ViewAppsTile')"></en-menu-item>-->
    <!--<en-menu-item name="Data Management"   location="/data-management/communications/mailboxes/" ng-hide="true" en-hotkey="alt+m"  ng-if="$hasPermission('Dashboard:ViewDataManagementTile')"></en-menu-item>-->

    <en-menu-item name="Users"                 location="settings/accounts/users/"                ng-hide="true"  ng-if="$hasPermission('UserProfile:UI-View')"></en-menu-item>
    <en-menu-item name="User Groups"           location="settings/accounts/user-groups/"          ng-hide="true"  ng-if="$hasPermission('UserProfile:UI-View')"></en-menu-item>
    <en-menu-item name="Roles"                 location="settings/accounts/roles/"                ng-hide="true"  ng-if="$hasPermission('Role:UI-View')"></en-menu-item>
    <en-menu-item name="Audit Log"             location="settings/accounts/audit-log/"            ng-hide="true"  ng-if="$hasPermission('AuditEvent:UI-View')"></en-menu-item>
    <en-menu-item name="Registration"          location="settings/accounts/registration/"         ng-hide="true"  ng-if="$hasPermission('RegistrationRequest:UI-View')"></en-menu-item>
    <en-menu-item name="System Log"            location="settings/accounts/system-log/"           ng-hide="true"  ng-if="$hasPermission('LogEvent:UI-View')"></en-menu-item>
    <en-menu-item name="Functional Domains"    location="settings/accounts/functional-domains/"   ng-hide="true"  ng-if="$hasPermission('FunctionalDomain:UI-View')"></en-menu-item>
    <en-menu-item name="Capabilities"          location="settings/accounts/capabilities/"         ng-hide="true"  ng-if="$hasPermission('Capability:UI-View')"></en-menu-item>
    <en-menu-item name="Data Domain Policies"  location="settings/accounts/domain-policies/"      ng-hide="true"  ng-if="$hasPermission('DataDomainPolicy:UI-View')"></en-menu-item>
    <en-menu-item name="Channels"              location="settings/company/channels/"              ng-hide="true"  ng-if="$hasPermission('Channel:UI-View')"></en-menu-item>
    <en-menu-item name="Customer Profiles"     location="settings/company/customer-profiles/"     ng-hide="true"  ng-if="$hasPermission('CustomerProfile:UI-View')"></en-menu-item>
    <en-menu-item name="EDI Configurations"    location="settings/company/edi-configurations/"    ng-hide="true"  ng-if="$hasPermission('EDIProfile:UI-View')"></en-menu-item>
    <en-menu-item name="Company Information"   location="settings/company/information/"           ng-hide="true"  ng-if="$hasPermission('Account:UI-View')"></en-menu-item>
    <en-menu-item name="Return Policies"       location="settings/company/return-policies/"       ng-hide="true"  ng-if="$hasPermission('ReturnPolicyProfile:UI-View')"></en-menu-item>
    <en-menu-item name="Shipping Profiles"     location="settings/company/shipping-profiles/"     ng-hide="true"  ng-if="$hasPermission('ShippingProfile:UI-View')"></en-menu-item>
    <en-menu-item name="Shipping Rates"        location="settings/company/shipping-rate/"         ng-hide="true"  ng-if="$hasPermission('ShippingRateConfiguration:UI-View')"></en-menu-item>
    <en-menu-item name="Trade Agreements"      location="settings/company/trade-agreements/"      ng-hide="true"  ng-if="$hasPermission('TradeAgreement:UI-View')"></en-menu-item>
    <en-menu-item name="Payment Processing Rules"      location="settings/company/payment-processing-rules/"      ng-hide="true"  ng-if="$hasPermission('PaymentProcessingRule:UI-View')"></en-menu-item>
    <en-menu-item name="Correlations"          location="settings/data-management/correlations/"  ng-hide="true"  ng-if="$hasPermission('Correlation:UI-View')"></en-menu-item>
    <en-menu-item name="Data Store"            location="settings/data-management/datastore/"     ng-hide="true"  ng-if="$hasPermission('BlobStoreAccessor:UI-View')"></en-menu-item>
    <!--<en-menu-item name="Email Configs"         location="settings/data-management/email-configurations/" ng-hide="true"  ng-if="$hasPermission('Correlation:UI-View')"></en-menu-item>-->
    <en-menu-item name="Import Results"        location="settings/data-management/import-results/"       ng-hide="true"  ng-if="$hasPermission('ModelImportResult:UI-View')"></en-menu-item>
    <en-menu-item name="File Import"           location="settings/data-management/import/"               ng-hide="true"  ng-if="$hasPermission('Import:UI-View')"></en-menu-item>
    <en-menu-item name="Purge Policies"        location="settings/data-management/purge/"                ng-hide="true"  ng-if="$hasPermission('PurgeRetentionPolicy:UI-View')"></en-menu-item>
    <en-menu-item name="Mailbox Routers"       location="settings/data-management/mailbox-routers/"      ng-hide="true"  ng-if="$hasPermission('MailboxRouter:UI-View')"></en-menu-item>
    <en-menu-item name="AS2 Client Configs"    location="settings/integration/as2-client-configurations/"  ng-hide="true"  ng-if="$hasPermission('AS2ClientConnectionConfig:UI-View')"></en-menu-item>
    <en-menu-item name="AS2 Server Configs"    location="settings/integration/as2-server-configurations/"  ng-hide="true"  ng-if="$hasPermission('AS2ServerConnectionConfig:UI-View')"></en-menu-item>
    <en-menu-item name="Public Certificates"   location="settings/integration/certificates/"               ng-hide="true"  ng-if="$hasPermission('PublicCertificate:UI-View')"></en-menu-item>
    <en-menu-item name="Communication Configs" location="settings/integration/communication-configurations/"  ng-hide="true"  ng-if="$hasPermission('CommunicationConfiguration:UI-View')"></en-menu-item>
    <en-menu-item name="Integration Credentials" location="settings/integration/integration-credentials/"  ng-hide="true"  ng-if="$hasPermission('IntegrationCredential:UI-View')"></en-menu-item>
    <en-menu-item name="Send Grid Email Configs"  location="settings/integration/email-configurations/"       ng-hide="true"  ng-if="$hasPermission('SendGridEmailConfig:UI-View')"></en-menu-item>
    <en-menu-item name="Key Pairs"             location="settings/integration/key-pairs/"         ng-hide="true"  ng-if="$hasPermission('KeyPair:UI-View')"></en-menu-item>
    <en-menu-item name="Passwords"             location="settings/integration/passwords/"         ng-hide="true"  ng-if="$hasPermission('Password:UI-View')"></en-menu-item>
    <en-menu-item name="SFTP Users"            location="settings/integration/sftp-users/"        ng-hide="true"  ng-if="$hasPermission('SFTPServerUser:UI-View')"></en-menu-item>
    <en-menu-item name="Attributes"            location="settings/management/attributes/"         ng-hide="true"  ng-if="$hasPermission('Attribute:UI-View')"></en-menu-item>
    <en-menu-item name="Attribute Sets"        location="settings/management/attribute-sets/"     ng-hide="true"  ng-if="$hasPermission('AttributeSet:UI-View')"></en-menu-item>
    <en-menu-item name="SKU Groups"            location="settings/management/sku-groups/"         ng-hide="true"  ng-if="$hasPermission('SkuGroup:UI-View')"></en-menu-item>
    <en-menu-item name="Address Books"         location="settings/organizations/address-books/"   ng-hide="true"  ng-if="$hasPermission('AddressBook:UI-View')"></en-menu-item>
    <en-menu-item name="Contacts"              location="settings/organizations/contacts/"        ng-hide="true"  ng-if="$hasPermission('Contact:UI-View')"></en-menu-item>
    <en-menu-item name="Organizations"         location="settings/organizations/organizations/"   ng-hide="true"  ng-if="$hasPermission('Organization:UI-View')"></en-menu-item>
    <en-menu-item name="Package Size Configuration"  location="settings/packages/"                ng-hide="true"  ng-if="$hasPermission('Correlation:BuildCustomPackages')"></en-menu-item>
    <en-menu-item name="Rule Books"            location="promotions/rules/"                       ng-hide="true"  ng-if="$hasPermission('RuleBook:UI-View')"></en-menu-item>
    <en-menu-item name="Units of Measure"      location="settings/products/uom/"                  ng-hide="true"  ng-if="$hasPermission('UnitOfMeasure:UI-View')"></en-menu-item>
    <en-menu-item name="Report Layouts"        location="settings/reports/layout/"                ng-hide="true"  ng-if="$hasPermission('ReportLayoutDefinition:UI-View')"></en-menu-item>
    <en-menu-item name="Report Schedules"      location="settings/reports/schedule/"              ng-hide="true"  ng-if="$hasPermission('ReportScheduleConfig:UI-View')"></en-menu-item>
    <en-menu-item name="Tax Agencies"      location="settings/tax/agencies/"        ng-hide="true"  ng-if="$hasPermission('TaxAgency:UI-View')"></en-menu-item>
    <en-menu-item name="Tax Codes"      location="settings/tax/codes/"              ng-hide="true"  ng-if="$hasPermission('TaxCode:UI-View')"></en-menu-item>
    <en-menu-item name="Tax Rates"      location="settings/tax/rates/"              ng-hide="true"  ng-if="$hasPermission('TaxRate:UI-View')"></en-menu-item>
    <en-menu-item name="Tax Locations"      location="settings/tax/locations/"      ng-hide="true"  ng-if="$hasPermission('TaxArea:UI-View')"></en-menu-item>
    <en-menu-item name="Avalara Config"      location="settings/tax/avalara/"       ng-hide="true"  ng-if="$hasPermission('AvalaraConfig:UI-View')"></en-menu-item>

    <en-menu-item name="Exchange Documents"  location="data-management/communications/document/"      ng-hide="true"  ng-if="$hasPermission('ExchangedDocument:UI-View')"></en-menu-item>
    <en-menu-item name="Files"               location="data-management/communications/files/"         ng-hide="true"  ng-if="$hasPermission('FileSystemEntry:UI-View')"></en-menu-item>
    <en-menu-item name="Mailboxes"           location="data-management/communications/mailboxes/"     ng-hide="true"  ng-if="$hasPermission('MailboxEntry:UI-View')"></en-menu-item>
    <en-menu-item name="Advanced Search"     location="data-management/communications/search/"        ng-hide="true"  ng-if="$hasPermission('Search:UI-View')"></en-menu-item>
    <en-menu-item name="Transmissions"       location="data-management/communications/transmissions/" ng-hide="true"  ng-if="$hasPermission('Transmission:UI-View')"></en-menu-item>

    <en-menu-item name="Advanced Shipping Notices" location="fulfillment/advance-shipping-notice/" ng-hide="true"  ng-if="$hasPermission('AdvancedShippingNotice:UI-View')"></en-menu-item>
    <en-menu-item name="Expected Receipts"         location="fulfillment/expected-receipts/"       ng-hide="true"  ng-if="$hasPermission('ExpectedReceipt:UI-View')"></en-menu-item>
    <en-menu-item name="Fulfillment Requests"      location="fulfillment/requests/"                ng-hide="true"  ng-if="$hasPermission('ShipmentRequest:UI-View')"></en-menu-item>
    <en-menu-item name="Shipments"                 location="fulfillment/shipments/"               ng-hide="true"  ng-if="$hasPermission('Shipment:UI-View')"></en-menu-item>

    <en-menu-item name="Job Executions"             location="integration/jobs/"                             ng-hide="true"  ng-if="$hasPermission('BatchJobDef:UI-View')"></en-menu-item>
    <en-menu-item name="Job Definitions"            location="integration/jobs/definitions/"                 ng-hide="true"  ng-if="$hasPermission('BatchJobDef:UI-View')"></en-menu-item>
    <en-menu-item name="Routes"                     location="integration/routes/"                           ng-hide="true"  ng-if="$hasPermission('RouteDef:UI-View')"></en-menu-item>
    <en-menu-item name="Route Definitions"          location="integration/routes/definitions/"               ng-hide="true"  ng-if="$hasPermission('RouteDef:UI-View')"></en-menu-item>
    <en-menu-item name="Route Schema Definitions"   location="integration/routes/doc-schema-definitions/"    ng-hide="true"  ng-if="$hasPermission('RouteDef:UI-View')"></en-menu-item>
    <en-menu-item name="Scripts"                    location="integration/scripts/"                          ng-hide="true"  ng-if="$hasPermission('Script:UI-View')"></en-menu-item>
    <en-menu-item name="Script Security Policies"   location="integration/scripts/script-security-policies/" ng-hide="true"  ng-if="$hasPermission('ScriptSecurityPolicy:UI-View')"></en-menu-item>
    <en-menu-item name="Script Types"               location="integration/scripts/script-types/"             ng-hide="true"  ng-if="$hasPermission('ScriptType:UI-View')"></en-menu-item>
    <en-menu-item name="Triggers"                   location="integration/triggers/"                         ng-hide="true"  ng-if="$hasPermission('Trigger:UI-View')"></en-menu-item>
    <en-menu-item name="Web Hooks"                  location="integration/webhooks/"                         ng-hide="true"  ng-if="$hasPermission('WebHook:UI-View')"></en-menu-item>
    <en-menu-item name="Git"                        location="integration/git/"                              ng-hide="true"  ng-if="$hasPermission('Git:UI-View')"></en-menu-item>

    <en-menu-item name="Inventory Search" location="inventory/lookup/"        ng-hide="true"  ng-if="$hasPermission('InventoryPool:UI-View')"></en-menu-item>
    <en-menu-item name="Inventory Pools"  location="inventory/pools/"         ng-hide="true"  ng-if="$hasPermission('InventoryPool:UI-View')"></en-menu-item>
    <en-menu-item name="Products"         location="inventory/products/"      ng-hide="true" en-hotkey="ctrl+shift+p"  ng-if="$hasPermission('Product:UI-View')"></en-menu-item>
    <en-menu-item name="New Product"      location="inventory/products/new"   ng-hide="true" en-hotkey="alt+shift+p"  ng-if="$hasPermission('Product:Create')"></en-menu-item>
    <en-menu-item name="Catalogs"         location="inventory/catalogs/"      ng-hide="true"  ng-if="$hasPermission('Catalog:UI-View')"></en-menu-item>
    <en-menu-item name="Item Masters"     location="inventory/item-masters/"  ng-hide="true"  ng-if="$hasPermission('ItemMaster:UI-View')"></en-menu-item>
    <en-menu-item name="Items"            location="inventory/items/"         ng-hide="true"  ng-if="$hasPermission('Item:UI-View')"></en-menu-item>
    <en-menu-item name="Price Books"      location="inventory/price-books/"   ng-hide="true"  ng-if="$hasPermission('PriceBook:UI-View')"></en-menu-item>
    <en-menu-item name="SKUs"             location="inventory/skus/"          ng-hide="true"  ng-if="$hasPermission('Sku:UI-View')"></en-menu-item>

    <en-menu-item name="Sales Orders"       location="orders/sales/list"    ng-hide="true" en-hotkey="ctrl+shift+s" ng-if="$hasPermission('SalesOrder:UI-View')"></en-menu-item>
    <en-menu-item name="New Sales Order"    location="orders/sales/new-1"      ng-hide="true" en-hotkey="alt+shift+s" ng-if="$hasPermission('SalesOrder:Create')"></en-menu-item>
    <en-menu-item name="Invoices"           location="orders/invoices/"      ng-hide="true"  ng-if="$hasPermission('Invoice:UI-View')"></en-menu-item>
    <en-menu-item name="Purchase Orders"    location="orders/purchase/list/" ng-hide="true"  ng-if="$hasPermission('PurchaseOrder:UI-View')"></en-menu-item>
    <en-menu-item name="Payment Receipts"   location="orders/receipts/"      ng-hide="true"  ng-if="$hasPermission('Receipt:UI-View')"></en-menu-item>
    <en-menu-item name="Remittance Advice"  location="orders/remittance/"    ng-hide="true"  ng-if="$hasPermission('RemittanceAdvice:UI-View')"></en-menu-item>
    <en-menu-item name="Returns / RMAs"     location="orders/returns/"       ng-hide="true" ng-if="$hasPermission('ReturnMerchandiseAuthorization:UI-View')"></en-menu-item>
    <en-menu-item name="New Return / RMA"   location="orders/returns/new"    ng-hide="true" ng-if="$hasPermission('ReturnMerchandiseAuthorization:Create')"></en-menu-item>
    <en-menu-item name="Transfer Orders"    location="orders/transfers/"     ng-hide="true"  ng-if="$hasPermission('TransferOrder:UI-View')"></en-menu-item>
    <en-menu-item name="Work Orders"        location="orders/work/"          ng-hide="true"  en-hotkey="ctrl+shift+w" ng-if="$hasPermission('WorkOrder:UI-View')"></en-menu-item>
    <en-menu-item name="New Sales Order"    location="orders/work/new"      ng-hide="true" en-hotkey="alt+shift+w" ng-if="$hasPermission('WorkOrder:Create')"></en-menu-item>

    <en-menu-item name="Sites"              location="sites/"                    ng-hide="true"  ng-if="$hasPermission('Site:UI-View')"></en-menu-item>
    <en-menu-item name="Site Groups"        location="sites/groups/"             ng-hide="true"  ng-if="$hasPermission('SiteGroup:UI-View')"></en-menu-item>
    <en-menu-item name="Site Clusters"      location="sites/clusters/"           ng-hide="true"  ng-if="$hasPermission('SiteCluster:UI-View')"></en-menu-item>
    <en-menu-item name="Site Calendars"     location="sites/calendars/"          ng-hide="true"  ng-if="$hasPermission('SiteCalendar:UI-View')"></en-menu-item>
    <en-menu-item name="Physical Addresses" location="sites/physical-addresses/" ng-hide="true"  ng-if="$hasPermission('PhysicalAddress:UI-View')"></en-menu-item>

    <en-menu-item name="Activities"     location="tasks/activities/"    ng-hide="true"  ng-if="$hasPermission('Activity:UI-View')"></en-menu-item>
    <en-menu-item name="Expectations"   location="tasks/expectations/"  ng-hide="true"  ng-if="$hasPermission('Expectation:UI-View')"></en-menu-item>
    <en-menu-item name="Notifications"  location="tasks/notifications/" ng-hide="true"  ng-if="$hasPermission('Notification:UI-View')"></en-menu-item>
    <en-menu-item name="Registrations"  location="tasks/registrations/" ng-hide="true"  ng-if="$hasPermission('RegistrationRequest:UI-View')"></en-menu-item>
    <en-menu-item name="Tasks"          location="tasks/tasks/"         ng-hide="true"  ng-if="$hasPermission('Task:UI-View')"></en-menu-item>

    <en-menu-item name="Clients"        location="trading-partners/clients/"    ng-hide="true"  ng-if="$hasPermission('Client:UI-View')"></en-menu-item>
    <en-menu-item name="Customers"      location="trading-partners/customers/"  ng-hide="true" en-hotkey="ctrl+shift+c"  ng-if="$hasPermission('Customer:UI-View')"></en-menu-item>
    <en-menu-item name="New Customer"   location="trading-partners/customers/new"  ng-hide="true" en-hotkey="alt+shift+c"  ng-if="$hasPermission('Customer:Create')"></en-menu-item>
    <en-menu-item name="Vendors"        location="trading-partners/vendors/"    ng-hide="true"  ng-if="$hasPermission('Vendor:UI-View')"></en-menu-item>

    <en-menu-item name="Reports"        location="reports/reports/"    ng-hide="true"  ng-if="$hasPermission('ReportLayoutDefinition:UI-View')"></en-menu-item>

</en-menu>
