<!DOCTYPE html>
<html ng-app="app" class="rtlc" ng-controller="AppCtrl"
      ng-init="offsideMenuLocked=false;offsideMenuActive=false;fetchSearchConfig();">
<head ng-init="cacheBuster=$root.$uniqueName()">
    <title>Enspire Order Management Solution</title>

    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- i69OS WE69B A69PP M69ETA TA69GS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>Enspire Order Management</title>

    <!-- APP ICONS -->
    <!-- For ipad retina screens -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ipad/apple-touch-icon-retina-ipad.png">
    <!-- For iphone retina screens -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ipad/apple-touch-icon-retina-iphone.png">
    <!-- For iPad 1-->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ipad/apple-touch-icon-ipad.png">
    <!-- For iPhone 3G, iPod Touch -->
    <link rel="apple-touch-icon-precomposed" href="assets/ipad/apple-touch-icon-iphone.png">

    <!-- STARTUP IMAGES -->
    <!-- iPad (portrait) -->
    <link rel="apple-touch-startup-image" media="(min-device-width: 768px) and (orientation: portrait)" href="assets/ipad/ipad-portrait-normal.png">
    <!-- iPad (landscape) -->
    <link rel="apple-touch-startup-image" media="(min-device-width: 768px) and (orientation: landscape)" href="assets/ipad/ipad-landscape-normal.png">
    <!-- iPad (Retina, portrait) -->
    <link rel="apple-touch-startup-image" media="(min-device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="assets/ipad/ipad-portrait.png">
    <!-- iPad (Retina, landscape) -->
    <link rel="apple-touch-startup-image" media="(min-device-width: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="assets/ipad/ipad-landscape.png">


    <!-- build:style bundle -->
    <link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
    <!-- /build -->

    <link rel="stylesheet" type="text/css" ng-href="{{ ($root.authUser.data.id) ? 'assets/css/ui.css?'+$root.authUser.data.id + cacheBuster: '' }}">


    <!-- env:dist -->
    <script>
        var production_mode = true;
    </script>
    <!-- env:dist:end -->

    <!-- build:script bundle -->
    <script src="assets/js/all.min.js"></script>
    <!-- /build -->
</head>
<body>
    <!--<div class="offside-menu-overlay"
         ng-class="{'active': offsideMenuActive, 'locked': offsideMenuLocked}"
         en-tap="offsideMenuActive = false; $event.stopPropagation();"
         ng-show="authorized && !offsideMenuLocked && offsideMenuActive"></div>
    <en-nav position="offside"
            ng-class="{'active':offsideMenuActive, 'locked': offsideMenuLocked}"
            ng-show="authorized">
        <div class="en-nav-header">Menu
            <en-icon icon="lock"
                     ng-class="{'text-primary': offsideMenuLocked}"
                     en-tap="(offsideMenuLocked) ? offsideMenuLocked=false : offsideMenuLocked=true; $event.stopPropagation();"></en-icon>
        </div>
        <en-menu orientation="vertical">
            <en-include src="main-menu-items"></en-include>
        </en-menu>

        <!-- TODO: Add search
    </en-nav>
-->
    <en-win>
        <en-include src="main-header"></en-include>
        <en-win-body layout="column" layout-align="start stretch" >
            <div ui-view="screens" layout="row" layout-align="start stretch" flex></div>
        </en-win-body>
        <en-include src="auth-index"></en-include>
        <en-include src="loading"></en-include>
    </en-win>

    <!-- ============= Outdated Browser ============= -->
    <div id="outdated">
        <h6>Your browser is out-of-date!</h6>
        <p>Update your browser to view our software correctly.
            <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a></p>
        <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
    </div>


    <!-- ============= twilio and conversejs sdk ============= -->
    <!-- <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script> -->
    <!-- <script src="https://media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.10/twilio-ip-messaging.min.js"></script> -->

    <!--<link rel="stylesheet" type="text/css" media="screen" href="https://cdn.conversejs.org/css/converse.min.css">-->
    <!--<script src="https://cdn.conversejs.org/dist/converse.min.js"></script>-->

    <!--<script>-->
        <!--require(['converse'], function (converse) {-->

            <!--converse.initialize({-->
                <!--bosh_service_url: 'http://chat.enspirecommerce.com:7070/http-bind/',-->
                <!--keepalive: true,-->
                <!--jid: 'b2bmb@chat.enspirecommerce.com',-->
                <!--authentication: 'login',-->
                <!--allow_logout: true-->
            <!--});-->
        <!--});-->
        <!--angular.element(document.querySelector('#conversejs')).css('display','none');-->
    <!--</script>-->
    <!--<style>-->
        <!--#conversejs {-->
            <!--left:0!important;-->
            <!--right:initial!important;-->
            <!--bottom:0!important;-->
            <!--top:initial!important;-->
        <!--}-->
    <!--</style>-->

    <!-- ============= twilio and conversejs sdk ============= -->
    <script>
        (function(){
            outdatedBrowser({
                bgColor: '#f25648', //background color of warning
                color: '#ffffff', //text color of warning
                lowerThan: 'flex' //the css property that must be present to validate browser
            })
        })();
    </script>
<!-- env:dist -->
    <script ng-if="$root.baseURL.host().indexOf('oms') !== -1">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47771692-3', 'auto');
    </script>
    <script ng-if="$root.baseURL.host().indexOf('b2b') !== -1">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47771692-2', 'auto');
    </script>


    <!-- env:dist:end -->
</body>
</html>
